{% extends 'base.html' %}

{% block head %}
{%block javas%}
{% endblock %}
{% endblock %}
{% block content %}
<div class="container">
<div class="row">
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('signOut')}}">התנתק</a></li>
          <li><a href="#">{{session['Authorization'].split(':')[0]}} שלום </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" style="text-align:right;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span> מגרשים </a>
          <ul class="dropdown-menu">
              <li style="text-align:right;"><a href="{{url_for('editCourts')}}">ערוך מגרשים</a></li>
            <li><a href="{{url_for('addNewCourt')}}" style="text-align:right;">הוסף מגרש</a></li>
          </ul>
        </li>
        <li class="dropdown" style="text-align:right;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span> משתמשים </a>
          <ul class="dropdown-menu">
              <li style="text-align:right;"><a href="{{ url_for('editUsers')}}">ערוך משתמשים</a></li>
            <li><a href="{{ url_for('editAdmins')}}" style="text-align:right;">ערוך מנהלים</a></li>
          </ul>
        </li>
          <li><a href="{{ url_for('mainpage') }}"><span class="glyphicon glyphicon-home"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
<!-- /.container-fluid -->
</nav>
</div>
</div>
<div class="row">
{% block incontent %}
{% endblock %}
</div>
{% endblock %}