{% extends 'base_logged.html' %}
{% block incontent %}
<div class="container" dir="rtl">
            <h2 id="header" style="text-align:center;">{{ head }}</h2>
            <form method=post>
                <div class="row" style="margin-top:20px;text-align:right">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">{{ form.name(class_="form-control", placeholder=form.name.label.text) }}</div>
                    <div class="col-md-4"></div>
                </div>
                    <div class="row" style="margin-top:20px;text-align:right">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">{{ form.width(class_="form-control", placeholder=form.width.label.text) }}</div>
                    <div class="col-md-2">{{ form.length(class_="form-control", placeholder=form.length.label.text) }}</div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row" style="margin-top:10px;text-align:right">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">{{ form.description(class_="form-control", placeholder=form.description.label.text) }}</div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row" style="margin-top:10px;text-align:right">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">{{ form.kind(class_="form-control") }}</div>
                    <div class="col-md-2">{{ form.phone(class_="form-control", placeholder=form.phone.label.text) }}</div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row" style="margin-top:10px;text-align:right">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">{{ form.num(class_="form-control", placeholder=form.num.label.text, onchange="addresschanged()") }}</div>
                    <div class="col-md-2">{{ form.street(class_="form-control", placeholder=form.street.label.text, onchange="addresschanged()") }}</div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row" style="margin-top:10px;margin-bottom:20px;text-align:right;">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        {% if (form.LA.data and form.LO.data) %}
                        {{ form.submit(class_="btn btn-primary btn-block") }}
                        {{ form.verify(class_="btn btn-success btn-block", type="hidden") }}
                        {% else %}
                        {{ form.verify(class_="btn btn-success btn-block") }}
                        {% endif %}
                    </div>
                    <div class="col-md-2">{{ form.city(class_="form-control", placeholder=form.city.label.text, onchange="addresschanged();") }}</div>
                    <div class="col-md-4">{{form.LA}}{{form.LO}}</div>
                </div>
            </form>
</div>
<div class="container" style="max-width: 330px; text-align:right;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
    {% for message in messages %}
        {%if 'בהצלחה' in message%}
        <div class="alert alert-success" role="alert"><p align="right">{{ message }}</p></div>
        {%else%}
    <div class="alert alert-danger" role="alert"><p align="right">{{ message }}</p></div>
        {%endif%}
    {% endfor %}
  {% endif %}
  {% endwith %}
    {% from "form_helper.html" import render_error %}
    {{ render_error(form.name) }}
    {{ render_error(form.city) }}
    {{ render_error(form.street) }}
    {{ render_error(form.num) }}
    {{ render_error(form.kind) }}
    {{ render_error(form.width) }}
    {{ render_error(form.length) }}
                    <div class="row" style="margin-top:10px;margin-bottom:20px;text-align:center;">
                    <div class="col-md-3">{{ map.html }}</div>
                </div>
</div>
{%endblock%}

{%block javas%}
{{map.js}}
{% from "javascripts.html" import courtActionsScript %}
{{ courtActionsScript() }}
{% endblock %}