{% extends 'base_logged.html' %}


{% block incontent %}


<div id="searchTabs" class="container" dir="rtl">
    <ul  class="nav nav-tabs">
        <li class="active pull-right">
            <a href="#byusername" data-toggle="tab">חיפוש לפי שם מגרש</a>
        </li>
        <li class="pull-right"><a href="#byuid" data-toggle="tab">חיפוש לפי מזהה מגרש</a>
        </li>
        <li class="pull-right"><a href="#customsearch" data-toggle="tab">חיפוש מתקדם</a>
        </li>
    </ul>

    <div class="tab-content clearfix">
        <div class="active tab-pane" id="byusername">
            <form method=get action="{{url_for('editCourts')}}">
                <div class="row" style="margin-top:20px; margin-bottom:20px;text-align:right;">
                    <div class="col-md-6"></div>
                    <div class="col-md-2">{{ courtnameform.submit(class_="btn btn-primary btn-block") }}</div>
                    <div class="col-md-4">
                        {{ courtnameform.courtname(class_="form-control", placeholder=courtnameform.courtname.label.text) }}</div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="byuid">
            <form method=get action="{{url_for('editCourts')}}">
                <div class="row" style="margin-top:20px; margin-bottom:20px;text-align:right;">
                    <div class="col-md-6"></div>
                    <div class="col-md-2">{{ uidform.submit(class_="btn btn-primary btn-block") }}</div>
                    <div class="col-md-4">
                        {{ uidform.uid(class_="form-control", placeholder=uidform.uid.label.text) }}</div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="customsearch">
            <form method=get action="{{url_for('editCourts')}}">
                <div class="row" style="margin-top:20px;text-align:right">
                    <div class="col-md-6"></div>
                    <div class="col-md-2">{{ customform.city(class_="form-control", placeholder=customform.city.label.text) }}</div>
                    <div class="col-md-2">{{ customform.num(class_="form-control", placeholder=customform.num.label.text) }}</div>
                    <div class="col-md-2">{{ customform.street(class_="form-control", placeholder=customform.street.label.text) }}</div>
                </div>
                <div class="row" style="margin-top:10px;text-align:right">
                    <div class="col-md-6"></div>
                    <div class="col-md-3">{{ customform.submit(class_="btn btn-primary btn-block") }}</div>
                    <div class="col-md-3">{{ customform.kind(class_="form-control") }}</div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" dir="rtl">
    <div class="row" style="margin-top:10px;margin-bottom:10px;text-align:right;">
        <div class="col-md-9"></div>
        <div class="col-md-3"><button type="button" class="btn btn-success" onclick="window.location.href='{{url_for('addNewCourt')}}'"><span class="glyphicon glyphicon-plus"> </span> הוספת מגרש חדש </button>
        </div>

    </div>


</div>

{% if courts %}
<div class="container" style="margin-top:20px;">
    <div class="row" style="margin-top:10px;margin-bottom:10px;text-align:right;">
        <div class="col-md-9"></div>
        <div class="col-md-1">   <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="perpage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {% if request.args.get("perpage") %}
                {{ request.args.get("perpage")}}
                {% else %}
                25
                {% endif %}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="perpage">
                <li style="text-align:right;"><a href="javascript:goToUpdatedGetParams({'perpage':'10'})">10</a></li>
                <li style="text-align:right;"><a href="javascript:goToUpdatedGetParams({'perpage':'25'})">25</a></li>
                <li style="text-align:right;"><a href="javascript:goToUpdatedGetParams({'perpage':'50'})">50</a></li>
                <li style="text-align:right;"><a href="javascript:goToUpdatedGetParams({'perpage':'100'})">100</a></li>
            </ul>
        </div>

        </div><div class="col-md-2"><h5>:הצג בעמוד</h5></div></div>

</div>

<div class="container">
    <div class="panel panel-primary">
        <!-- Default panel contents -->

        <div class="panel-heading" style="text-align:right;">מגרשים</div>
        <table class="table" dir=rtl >
            <thead>
            <tr>
                <th style="text-align:right;">#</th>
                <th style="text-align:right;"><a href="javascript:sortbyval('name')">שם מגרש</a></th>
                <th style="text-align:right;"><a href="javascript:sortbyval('street')">רחוב</a></th>
                <th style="text-align:right;"><a href="javascript:sortbyval('num')">מספר</a></th>
                <th style="text-align:right;"><a href="javascript:sortbyval('city')">עיר</a></th>
                <th style="text-align:right;"><a href="javascript:sortbyval('added')">תאריך הוספה</a></th>
                <th style="text-align:right;">אפשרויות</th>
            </tr>
            </thead>
            {% for court in courts %}
            <tr>
                <td style="text-align:right;">{{ loop.index + pagination.skip }}</td>
                <td style="text-align:right;">{{ court.name }}</td>
                <td style="text-align:right;">{{ court.street }}</td>
                <td style="text-align:right;">{{ court.streetNum }}</td>
                <td style="text-align:right;">{{ court.city }}</td>
                <td style="text-align:right;">{{ court.addedDate }}</td>
                <td style="text-align:right;"><a href="javascript:deleteCourt({{court.ID}},'{{court.name}}');"><span class="glyphicon glyphicon-remove-sign"></span></a>  <a href="{{url_for('editSingleCourt',uid=court.ID)}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="container">
    {{ pagination.links }}
    {% else %}
    <h2 id="header" style="text-align:center;">אין מגרשים להצגה
    </h2>
    {% endif %}
</div>
{% endblock %}

{% block javas %}
{% from "javascripts.html" import courtActionsScript %}
{{ courtActionsScript() }}
{% from "javascripts.html" import sortByScript %}
{{sortByScript()}}
{% endblock %}