{% macro render_error(field) %}
  {% if field.errors %}
      {% for error in field.errors %}
        <div class="alert alert-danger" role="alert"><p align="right">{{ field.label.text }}: {{ error }}</p></div>
    {% endfor %}
  {% endif %}
{% endmacro %}