{% macro userActionsScript() %}
<script>
  function validatePassword(form) {
    if (confirm('האם אתה בטוח שברצונך לעדכן את פרטי המשתמש?')){
        if(form['password'].value == null || form['password'].value == "") {
            return true;
        }
        else {
            return confirm('האם אתה בטוח שברצונך לשנות סיסמא למשתמש?');
        }
    } else {
        return false;
    }

}
  function deleteUser(uid, username) {
    if (confirm("האם למחוק משתמש: " + username + "?") == true) {
    var formData = new FormData();
    formData.append("uid", uid);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "{{ url_for("deleteUserById") }}");
    xhr.send(formData);
    xhr.onreadystatechange = function()
        {
            if (xhr.readyState == 4){
              if (xhr.status == 200){
                var json_data = xhr.responseText;
                var answer = JSON.parse(json_data);
                if (answer.answer == "success"){
                  alert("המשתמש " + username + " נמחק בהצלחה");
                  location.reload(true);
                } else {
                  alert("לא ניתן למחוק את המשתמש");
                }
              }
            }
        };
    }

  }
</script>
{% endmacro %}

{% macro sortByScript() %}
<script>
function getParam(name){
   if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
      return decodeURIComponent(name[1]);
    else{
        return "none";
    }
}

function goToUpdatedGetParams( getParamsToUpdate ){
  if( typeof getParamsToUpdate != "object" ) return false;

  var getParams = document.location.search.substr(1).split('&');

  if( (getParams.length < 1) || ((getParams.length == 1) && (getParams[0] == "")) )
    getParams = [];

  var searchBuffer;
  var found;

  for( var k in getParamsToUpdate ){
      if( ! getParamsToUpdate.hasOwnProperty(k) ) continue;

      key = encodeURIComponent(k);
      value = encodeURIComponent(getParamsToUpdate[k]);

      searchBuffer = [];
      found = false;

      for( var i = (getParams.length - 1); i >= 0 ; --i ){
          searchBuffer = getParams[i].split('=');

          if( searchBuffer[0] == key ){
            //found key!
            getParams[i] = key + '=' + value;
            found = true;
            break;
          }
      }

      if( ! found )
        getParams.push( key + '=' + value );
  }

  document.location.search = getParams.join('&');
}

function sortbyval(value){
   if(getParam("sortby") == value){
        if (getParam("reverse") == 1){
            reverse = 0;
        } else {
            reverse = 1
        }
    } else {
        reverse = 0;
    }
    goToUpdatedGetParams({"reverse":reverse, "sortby":value});
}
</script>
{% endmacro %}

{% macro adminActionsScript() %}
<script>
  function deleteAdmin(uid, username) {
    if (confirm("האם למחוק משתמש: " + username + "?") == true) {
    var formData = new FormData();
    formData.append("uid", uid);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "{{ url_for("deleteAdminById") }}");
    xhr.send(formData);
    xhr.onreadystatechange = function()
        {
            if (xhr.readyState == 4){
              if (xhr.status == 200){
                var json_data = xhr.responseText;
                var answer = JSON.parse(json_data);
                if (answer.answer == "success"){
                  alert("המשתמש " + username + " נמחק בהצלחה");
                  location.reload(true);
                } else {
                  alert("לא ניתן למחוק את המשתמש");
                }
              }
            }
        };
    }

  }
</script>
{% endmacro %}

{% macro courtActionsScript()%}
<script>
    function addresschanged(){
        document.getElementById("LO").value='';
        document.getElementById("LA").value='';
        submit = document.getElementById("submit");
        if (submit){
            submit.type = 'hidden';
        }
        verify = document.getElementById("verify");
        if (verify){
            verify.type = 'submit';
        }
    }
    function deleteCourt(uid, username) {
    if (confirm("האם למחוק מגרש: " + username + "?") == true) {
    var formData = new FormData();
    formData.append("uid", uid);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "{{ url_for("deleteCourtById") }}");
    xhr.send(formData);
    xhr.onreadystatechange = function()
        {
            if (xhr.readyState == 4){
              if (xhr.status == 200){
                var json_data = xhr.responseText;
                var answer = JSON.parse(json_data);
                if (answer.answer == "success"){
                  alert("המשתמש " + username + " נמחק בהצלחה");
                  location.reload(true);
                } else {
                  alert("לא ניתן למחוק את המשתמש");
                }
              }
            }
        };
    }

  }
</script>
{% endmacro %}