{% extends 'base.html' %}

{%block head%}
<link href="{{ url_for('static',filename='css/signin.css') }}" rel="stylesheet">
{%endblock%}
{% block content %}
<div class="container">
    <form class="form-signin" method=post>
        <h2 id="header" class="form-signin-heading" style="text-align:center;">יש להזדהות לצורך שימוש במערכת</h2>
          {{ form.username(class_="form-control", placeholder=form.username.label.text) }}
          {{ form.password(class_="form-control", placeholder=form.password.label.text) }}
          {{ form.submit(class_="btn btn-primary btn-block") }}
    </form>
</div>
<div class="container" style="max-width: 330px; text-align:right;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert"><p align="right">{{ message }}</p></div>
    {% endfor %}
  {% endif %}
  {% endwith %}
    {% from "form_helper.html" import render_error %}
    {{ render_error(form.username) }}
    {{ render_error(form.password) }}
</div>
{% endblock %}