{% extends 'base_logged.html' %}
{% block incontent %}
{% if lastPlayers %}
{% set count = [1] %}
<div class="container">
<div class="panel panel-primary">
  <!-- Default panel contents -->

  <div class="panel-heading" style="text-align:right;">משתמשים אחרונים</div>
  <table class="table" dir=rtl >
        <thead>
      <tr>
        <th style="text-align:right;">#</th>
        <th style="text-align:right;">שם משתמש</th>
        <th style="text-align:right;">שם פרטי</th>
        <th style="text-align:right;">שם משפחה</th>
        <th style="text-align:right;">גיל</th>
        <th style="text-align:right;">עיר</th>
        <th style="text-align:right;">תאריך הצטרפות</th>
        <th style="text-align:right;">אפשרויות</th>
      </tr>
    </thead>
        {% for player in lastPlayers %}
      <tr>
        <td style="text-align:right;">{{ count[0] }}</td>
        <td style="text-align:right;">{{ player.Username }}</td>
        <td style="text-align:right;">{{ player.FirstName }}</td>
        <td style="text-align:right;">{{ player.LastName }}</td>
        <td style="text-align:right;">{{ player.age }}</td>
        <td style="text-align:right;">{{ player.City }}</td>
        <td style="text-align:right;">{{ player.SignUpDate }}</td>
        <td style="text-align:right;"><a href="javascript:deleteUser({{player.ID}},'{{player.Username}}');"><span class="glyphicon glyphicon-remove-sign"></span></a>  <a href="{{url_for('editSingleUser',uid=player.ID)}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
      </tr>
    {% if count.append(count.pop() + 1) %}{% endif %}
    {% endfor %}
  </table>
</div>
</div>
{% endif %}

{% if lastGames %}
{% set count = [1] %}
<div class="container">
<div class="panel panel-primary">
  <!-- Default panel contents -->

  <div class="panel-heading" style="text-align:right;">משחקים אחרונים</div>
  <table class="table" dir=rtl >
        <thead>
      <tr>
        <th style="text-align:right;">#</th>
        <th style="text-align:right;">יוצר</th>
        <th style="text-align:right;">מזהה מגרש</th>
        <th style="text-align:right;">שם מגרש</th>
        <th style="text-align:right;">תאריך משחק</th>
        <th style="text-align:right;">שעה</th>
        <th style="text-align:right;">תאריך הוספה</th>
      </tr>
    </thead>
    <tbody>
    {% for game in lastGames %}
      <tr>
        <td style="text-align:right;">{{ count[0] }}</td>
        <td style="text-align:right;">{{ game.creatorUsername }}</td>
        <td style="text-align:right;">{{ game.courtID }}</td>
        <td style="text-align:right;">{{ game.courtName }}</td>
        <td style="text-align:right;">{{ game.date }}</td>
        <td style="text-align:right;">{{ game.time }}</td>
        <td style="text-align:right;">{{ game.addedDate }}</td>
      </tr>
    {% if count.append(count.pop() + 1) %}{% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endif %}
{% if lastCourts %}
{% set count = [1] %}
<div class="container">
<div class="panel panel-primary">
  <!-- Default panel contents -->

  <div class="panel-heading" style="text-align:right;">מגרשים אחרונים</div>
  <table class="table" dir=rtl >
        <thead>
      <tr>
        <th style="text-align:right;">#</th>
        <th style="text-align:right;">מזהה מגרש</th>
        <th style="text-align:right;">שם מגרש</th>
        <th style="text-align:right;">רחוב</th>
        <th style="text-align:right;">מספר</th>
        <th style="text-align:right;">עיר</th>
        <th style="text-align:right;">תאריך הוספה</th>
        <th style="text-align:right;">אפשרויות</th>
      </tr>
    </thead>
    <tbody>
    {% for court in lastCourts %}
      <tr>
        <td style="text-align:right;">{{ count[0] }}</td>
        <td style="text-align:right;">{{ court.ID }}</td>
        <td style="text-align:right;">{{ court.name }}</td>
        <td style="text-align:right;">{{ court.street }}</td>
        <td style="text-align:right;">{{ court.streetNum }}</td>
        <td style="text-align:right;">{{ court.city }}</td>
        <td style="text-align:right;">{{ court.addedDate }}</td>
        <td style="text-align:right;"><a href="javascript:deleteCourt({{court.ID}},'{{court.name}}');"><span class="glyphicon glyphicon-remove-sign"></span></a>  <a href="{{url_for('editSingleCourt',uid=court.ID)}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
      </tr>
    {% if count.append(count.pop() + 1) %}{% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endif %}
{% endblock %}

{% block javas %}
{% from "javascripts.html" import userActionsScript %}
{{ userActionsScript() }}
{% from "javascripts.html" import courtActionsScript %}
{{ courtActionsScript() }}
{% endblock %}