{% extends 'base_logged.html' %}


{% block incontent %}


<div id="searchTabs" class="container" dir="rtl">
    <ul  class="nav nav-tabs">
        <li class="active pull-right">
            <a href="#byusername" data-toggle="tab">חיפוש לפי שם משתמש</a>
        </li>
        <li class="pull-right"><a href="#byuid" data-toggle="tab">חיפוש לפי מזהה משתמש</a>
        </li>
        <li class="pull-right"><a href="#customsearch" data-toggle="tab">חיפוש מתקדם</a>
        </li>
    </ul>

    <div class="tab-content clearfix">
        <div class="active tab-pane" id="byusername">
            <form method=get action="{{url_for('editUsers')}}">
                <div class="row" style="margin-top:20px; margin-bottom:20px;text-align:right;">
                    <div class="col-md-6"></div>
                    <div class="col-md-2">{{ usernameform.submit(class_="btn btn-primary btn-block") }}</div>
                    <div class="col-md-4">
                        {{ usernameform.username(class_="form-control", placeholder=usernameform.username.label.text) }}</div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="byuid">
            <form method=get action="{{url_for('editUsers')}}">
                <div class="row" style="margin-top:20px; margin-bottom:20px;text-align:right;">
                    <div class="col-md-6"></div>
                    <div class="col-md-2">{{ uidform.submit(class_="btn btn-primary btn-block") }}</div>
                    <div class="col-md-4">
                        {{ uidform.uid(class_="form-control", placeholder=uidform.uid.label.text) }}</div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="customsearch">
            <form method=get action="{{url_for('editUsers')}}">
                <div class="row" style="margin-top:20px;text-align:right">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">{{ customform.lastname(class_="form-control", placeholder=customform.lastname.label.text) }}</div>
                    <div class="col-md-2">{{ customform.firstname(class_="form-control", placeholder=customform.firstname.label.text) }}</div>
                </div>
                <div class="row" style="margin-top:10px;text-align:right">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">{{ customform.agemax(class_="form-control", placeholder=customform.agemax.label.text) }}</div>
                    <div class="col-md-2">{{ customform.agemin(class_="form-control", placeholder=customform.agemin.label.text) }}</div>
                </div>
                <div class="row" style="margin-top:10px;margin-bottom:20px;text-align:right;">
                    <div class="col-md-6"></div>
                    <div class="col-md-2">{{ customform.submit(class_="btn btn-primary btn-block") }}</div>
                    <div class="col-md-4">
                        {{ customform.city(class_="form-control", placeholder=customform.city.label.text) }}</div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" dir="rtl">
    <div class="row" style="margin-top:10px;margin-bottom:10px;text-align:right;">
        <div class="col-md-9"></div>
        <div class="col-md-3"><button type="button" class="btn btn-success" onclick="window.location.href='{{url_for('addNewPlayer')}}'"><span class="glyphicon glyphicon-plus"> </span> הוספת משתמש חדש </button>
        </div>

    </div>


</div>

{% if users %}
<div class="container" style="margin-top:20px;">
    <div class="row" style="margin-top:10px;margin-bottom:10px;text-align:right;">
        <div class="col-md-9"></div>
        <div class="col-md-1">   <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="perpage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {% if request.args.get("perpage") %}
                {{ request.args.get("perpage")}}
                {% else %}
                25
                {% endif %}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="perpage">
                <li style="text-align:right;"><a href="javascript:goToUpdatedGetParams({'perpage':'10'})">10</a></li>
                <li style="text-align:right;"><a href="javascript:goToUpdatedGetParams({'perpage':'25'})">25</a></li>
                <li style="text-align:right;"><a href="javascript:goToUpdatedGetParams({'perpage':'50'})">50</a></li>
                <li style="text-align:right;"><a href="javascript:goToUpdatedGetParams({'perpage':'100'})">100</a></li>
            </ul>
        </div>

        </div><div class="col-md-2"><h5>:הצג בעמוד</h5></div></div>

</div>

<div class="container">
    <div class="panel panel-primary">
        <!-- Default panel contents -->

        <div class="panel-heading" style="text-align:right;">משתמשים</div>
        <table class="table" dir=rtl >
            <thead>
            <tr>
                <th style="text-align:right;">#</th>
                <th style="text-align:right;"><a href="javascript:sortbyval('username')">שם משתמש</a></th>
                <th style="text-align:right;"><a href="javascript:sortbyval('firstname')">שם פרטי</a></th>
                <th style="text-align:right;"><a href="javascript:sortbyval('lastname')">שם משפחה</a></th>
                <th style="text-align:right;"><a href="javascript:sortbyval('age')">גיל</a></th>
                <th style="text-align:right;"><a href="javascript:sortbyval('city')">עיר</a></th>
                <th style="text-align:right;"><a href="javascript:sortbyval('added')">תאריך הצטרפות</a></th>
                <th style="text-align:right;">אפשרויות</th>
            </tr>
            </thead>
            {% for user in users %}
            <tr>
                <td style="text-align:right;">{{ loop.index + pagination.skip }}</td>
                <td style="text-align:right;">{{ user.Username }}</td>
                <td style="text-align:right;">{{ user.FirstName }}</td>
                <td style="text-align:right;">{{ user.LastName }}</td>
                <td style="text-align:right;">{{ user.age }}</td>
                <td style="text-align:right;">{{ user.City }}</td>
                <td style="text-align:right;">{{ user.SignUpDate }}</td>
                <td style="text-align:right;"><a href="javascript:deleteUser({{user.ID}},'{{user.Username}}');"><span class="glyphicon glyphicon-remove-sign"></span></a>  <a href="{{url_for('editSingleUser',uid=user.ID)}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="container">
    {{ pagination.links }}
    {% else %}
    <h2 id="header" style="text-align:center;">אין משתמשים להצגה
    </h2>
    {% endif %}
</div>
{% endblock %}

{% block javas %}
{% from "javascripts.html" import userActionsScript %}
{{ userActionsScript() }}
{% from "javascripts.html" import sortByScript %}
{{sortByScript()}}
{% endblock %}