{% extends 'base_logged.html' %}
    {% block javas %}
    {% from "javascripts.html" import userActionsScript %}
    {{ userActionsScript() }}
    {% endblock %}
{% block incontent %}
<div class="container" dir="rtl">
            <h2 id="header" style="text-align:center;">עריכת משתמש, מספר מזהה:  {{ uid }}</h2>
            <form method=post onsubmit="return validatePassword(this);">
                <div class="row" style="margin-top:20px;text-align:right">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">{{ form.password(class_="form-control", placeholder=form.password.label.text) }}</div>
                    <div class="col-md-2">{{ form.username(class_="form-control", placeholder=form.username.label.text) }}</div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row" style="margin-top:10px;text-align:right">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">{{ form.email(class_="form-control", placeholder=form.email.label.text) }}</div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row" style="margin-top:10px;text-align:right">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">{{ form.lastname(class_="form-control", placeholder=form.lastname.label.text) }}</div>
                    <div class="col-md-2">{{ form.firstname(class_="form-control", placeholder=form.firstname.label.text) }}</div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row" style="margin-top:10px;text-align:right">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">{{ form.birthdate(class_="form-control", placeholder=form.birthdate.label.text) }}</div>
                    <div class="col-md-2">{{ form.city(class_="form-control", placeholder=form.city.label.text) }}</div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row" style="margin-top:10px;margin-bottom:20px;text-align:right;">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">{{ form.submit(class_="btn btn-primary btn-block") }}</div>
                    <div class="col-md-4"></div>
                </div>
            </form>
</div>
<div class="container" style="max-width: 330px; text-align:right;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
    {% for message in messages %}
        {%if 'בהצלחה' in message%}
        <div class="alert alert-success" role="alert"><p align="right">{{ message }}</p></div>
        {%else%}
    <div class="alert alert-danger" role="alert"><p align="right">{{ message }}</p></div>
        {%endif%}
    {% endfor %}
  {% endif %}
  {% endwith %}
    {% from "form_helper.html" import render_error %}
    {{ render_error(form.username) }}
    {{ render_error(form.password) }}
    {{ render_error(form.email) }}
    {{ render_error(form.city) }}
    {{ render_error(form.birthdate) }}
    {{ render_error(form.firstname) }}
    {{ render_error(form.lastname) }}
</div>
{%endblock%}